.search-input {
    padding: 12px;
    margin: 4px 0px;
    background: #d9dfeb;
    border: none;
    border-radius: 8px;
    width: 244px;
    font-size: 14px;
    text-align: center;
}



.task-list-table-head {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 32px;
}

.task-list-table {
    min-height: 78px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000a;
    opacity: 1;
    margin: 8px 0px 0px 0px;
    border-radius: 12px;
}

.no-data-found {
    min-height: 75px;
    border-bottom: 1px solid #e8e8e8;
    margin-left: 16px;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.task-item-completed-checkbox {
    /* Layout Properties */
    top: 363px;
    left: 144px;
    width: 19px;
    height: 19px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #95A4AB;
    border-radius: 4px;
    opacity: 1;
    /* width: 0.1px 0.05px; */
}

.task-list-table-content {
    min-height: 75px;
    /* border-bottom: 1px solid #e8e8e8; */
    margin-left: 16px;
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    margin-right: 2%;

}

.border-bottom {
    border-bottom: 1px solid #e8e8e8;
}

.task-pending {
    /* Layout Properties */
    top: 435px;
    left: 175px;
    /* width: 386px; */
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #5285EC;
    opacity: 1;
    margin-right: auto;
    padding-left: 5px;
    width: '0.75px 0.8px'
}

.task-completed {
    /* Layout Properties */
    top: 435px;
    left: 175px;
    /* width: 386px; */
    height: 24px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #537178;
    margin-right: auto;
    padding-left: 5px;
    text-decoration-line: line-through;
}

.task-action-edi-del {
    /* Layout Properties */
    top: 364px;
    left: 996px;
    width: 49px;
    height: 18px;
    /* UI Properties */
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

@media screen and (min-width: 40em) {
    .task-list-table-head {
        padding-left: 128px;
        padding-right: 128px;
    }
}